*, *::after, *::before {
  box-sizing: border-box;
  /*font-family: 'Nanum Pen Script', cursive;*/
}

html {
  font-size: 20px;
  
}

body {
  /*background: linear-gradient(#e66465, #9198e5);*/
  background: #DFCFBE;
}

.App {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
}

button {
  text-align: center;
}
