*, *::after, *::before {
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}

html {
  font-size: 20px;
  
}

body {
  background: #DFCFBE;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
}

button {
  text-align: center;
}

main {
  padding-top: 4rem;
}

@media (max-width: 599px) {
  main {
    padding-top: 3rem;
  }
}